@import url("style.css");

#content table#flickr #photo-feed {
	float: left;
	margin: 0px 10px 20px 10px;
}

#content table#flickr #photo-feed img {
	border: 5px solid rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
	-webkit-border-radius: 2px;
}

#content table#flickr #photo-feed div.overlays img {
	border: 10px solid rgba(255, 255, 255, 1);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.7);
}

#content table#flickr #photo-feed img:hover {
	cursor: pointer;
}

#content table#flickr #photo-feed .overlays {
	display: none;
	z-index: 100;
}

#content table#flickr #photo-feed .overlays .close {
	background-image: url(../img/closebox.png);
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 30px;
	width: 30px;
	
}

#content table#flickr #photo-feed #photo-title {
	font-family: Serifa BT, sans-serif;
	font-size: 1.2em;
	color: rgba(198, 193, 166, 1.0000);
	text-shadow:
		-1px -1px rgba(48, 46, 33, 0.4000), 
		-2px -2px rgba(48, 46, 33, 0.4000);
	clear: both;
	font-family: Serifa BT;
	text-align: left;
	margin-top: 5px;
	margin-left: 5px;
}

#content table {
	margin: 15px auto 0px auto;
}

#content table#flickr tr td {
	text-align: right;
	vertical-align: bottom;
}

#content #continue-to-flickr {
	clear: both;
	margin-bottom: 50px;
	float: right;
	display: block;
	margin-right: 20px;
}

#content #continue-to-flickr a {
	text-decoration: none;
	font-family: Long John Formal Regular, sans-serif;
	font-size: 1em;
	color: rgba(198, 193, 166, 1);
	border-bottom: dotted 1px rgba(198, 193, 166, 1.0000);
}
	
#content #continue-to-flickr a:hover {
	color: rgba(255, 255, 255, 1);
	border-bottom: dotted 1px rgba(255, 255, 255, 1);
}
